#additems
{
    background-color:darkgrey;
    width: 30%;
    border:1px solid rgb(169,169,211);
    border-radius:2px;
    padding:5 5 5 5px;
    margin:10px;

}
.input{
    
    border:1px solid blue;
    border-radius:1px;
    margin:10 10 10 10px;

}
input[type=submit]{
    width: 10em;
    cursor: pointer;
}